body{
    margin: 0;
    background-color: blanchedalmond;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container {
    background-color: rgba(255, 255, 255, 0.3); /* Use rgba() for transparent colors */
    padding: 20px;
    box-shadow: 0 60px 10px rgba( 0,0, 0, .3); /* Example shadow color: red with 50% opacity */
    border-radius:15%;
    width: 50%;
    text-align: center;
    color: rgb(63, 15, 108);
}

.heading{
    font-size: 35px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 2px rgb( 0,0, 0, .3);
    letter-spacing: 2px;
}
.JOKES{
    font-size: 19px ;
    font-weight: 200;
    margin: 30px;
}
.btn{
    font-size: 17px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    padding: 2%;
    background-color: darkgoldenrod;
    border-color: aqua;
    text-transform: lowercase;
    width: 180px;
    color: greenyellow;
}
.btn:hover{
    background-color: rgba(255, 255, 255,.5);
    box-shadow: 0 4px 4px rgb( 0,0,0,.3);
    transition: all 300ms ease;
}